
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body{
    background-color: #481824;

}

caption{
   font-size: xx-large; 
   color: antiquewhite;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-style: normal;
   margin: 2%;

 }

table img{
    /* de esta forma se da dimension al primer parametro y el segundo guarda proporcion */
     width: 233px; 
     height: auto;

}

th{
    color: antiquewhite;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

table {
  width: auto;
  margin: auto;
}

table th, table td {
  border: 1px solid antiquewhite;
  text-align: center;
}

